div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    background-color: aqua;
}

#box1{
    position: static;
}

#box2{
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
}

#box3{
    position: sticky;
    top: 0px;
    left: 20px;
    z-index: -1;
}

#box4{
    position: fixed;
    top: 0px;
}



