*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    margin-left: 8px;
    padding-top: 2px;
    background-image: url( Amazon\ logo.png);
    height: 40px;
    width: 90%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}